body{
	background-color: grey;
}

.cool{
	visibility: hidden;
	width: 115px;
	height: 25px;
	background-color: blue;
	transition: background-color 2s;
}

.cool.red{
	visibility: visible;
	background-color: red;
}